@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html{
    scroll-behavior: smooth;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
}

body{
    background: linear-gradient(-45deg, #16222A, #3A6073, #414345, #232526);
	background-size: 400%;
	animation: gradient 15s ease infinite;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

header{
    display: none;
    align-self: stretch;
    justify-content: center;
    flex-basis: 10%;
    align-items: center;
    min-height: 4rem;
    background-color: white;
}

.hero_section{
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.hero_section h1{
    font-size: 3rem;
    text-align: center;
}

.btn{
    padding: 1rem 3rem;
    border:none;
    color:black;
    font-size: 1rem;
    background-color: white;
    border-radius: 2rem;
    font-family: 'Press Start 2P', cursive;
}

.btn:hover{
    cursor: pointer;
    color: white;
    background-color: black;
    box-shadow: 0 0 0.4rem rgba(255,255,255, 0.4);
    transform: scale(1.1);
    transition: 450ms;
}

.game_section{
    box-sizing: border-box;
    min-height: 100vh;
    display: none;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
}

.game_section h2{
    font-size: 3rem;
}

.cardsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
}

.card{
    position: relative;
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    background-color: white;
    transform-style: preserve-3d;
    transition: transform 300ms ease-out;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 300ms ease-in-out;
}

.front_face, .back_face{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    backface-visibility: hidden;
}

.back_face{
    transform: rotateY(180deg);
}

.card.flip{
    transform: rotateY(180deg);
    transition: transform 300ms ease-out;
}

.info{
    display: flex;
    align-items: center;
    color: white;
    align-self: stretch;
    justify-content: space-around;
}

.scores{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 10rem;
    align-items: center;
    font-size: 1rem;
}

.success_div{
    display: flex;
    font-size: 2rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#restart_prompt{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 1rem;
    text-align: center;
}

.prompt_buttons{
    display: flex;
    gap: 1rem;
}